<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:replace="~{layouts/plantillas :: cabecera}"></th:block>
	
	<body>
		
		<main class="container">
			
			<th:block th:replace="~{layouts/plantillas :: barraNavegacion}"></th:block>

			<!-- INICIO DEL CONTENIDO -->

			<!-- FORMULARIO DE VENTA -->
			<div class="container form-container mt-4">
			    <div class="card p-4 shadow">
			        <h2 class="text-center mb-4">Registrar Venta</h2>
			        
					<form th:action="@{/ventas/guardar}" th:object="${venta}" method="post">
					
					    <!-- Fecha -->
					    <div class="mb-3">
					        <label>Fecha</label>
					        <input type="date" th:field="*{fecha}" class="form-control">
					    </div>
					    
					    <select th:field="*{cliente}" class="form-select mb-3">
						    <option value="">Seleccione cliente</option>
						    <option th:each="c : ${listaClientes}"
						            th:value="${c.idCliente}"
						            th:text="${c.nombre}">
						    </option>
						</select>
					
					    
					
					    <button type="submit" class="btn btn-success ">
					        Registrar Venta
					    </button>
					
					</form>

			    </div>
			</div>

			<!-- TABLA DE VENTAS -->
			<div class="container mt-5">
				<div class="card shadow">
			        <div class="card-header bg-success text-white">
			            <h5 class="mb-0">Ventas Registradas</h5>
			        </div>
			        <div class="card-body">
			            <div class="table-responsive">
			                <table class="table table-hover align-middle">
			                    <thead class="table-light">
			                        <tr>
			                            <th>ID</th>
										<th>Fecha</th>
										<th>Cliente</th>
										<th>Total</th>
										<th>Acciones</th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <tr th:each="v : ${listaVentas}">
			                            <td th:text="${v.idVenta}"></td>
										<td th:text="${v.fecha}"></td>
										<td th:text="${v.cliente.nombre}"></td>
										<td th:text="${v.total}"></td>
			                            
			                            <td>
								            <a th:href="@{/ventas/editar/{id}(id=${v.idVenta})}" 
								               class="btn btn-warning btn-sm">Editar</a>
								
								            <a th:href="@{/ventas/eliminar/{id}(id=${v.idVenta})}" 
								               class="btn btn-danger btn-sm">Eliminar</a>
								        </td>
			                            		                            
			                        </tr>         
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			</div>

			<!-- FIN DEL CONTENIDO -->
		</main>
		
		<th:block th:replace="~{layouts/plantillas :: pie}"></th:block>
		
	</body>
</html>
